* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family:'PT Sans', sans-serif;
	background-color: #d0e1f9; /*Color del fondo d0e1f9*/
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-weight: 600;
}

/*Barra de navegación*/
.header {
	position: fixed;
	width: 100%;
	z-index: 3;
	height: 50px;
	font-weight: 400;
	font-size: 2.5vh;
	background-color: #337bae; /*Color del encabezado*/
	border-bottom: 3px solid #9e9e9e; /*Color del borde del encabezado*/
}

.header .logo {
  margin-top: 3.8%;
  margin-left: 18%;
  width: 40%;
  color: #fff;
  display: inline-block;
}

.header .contacto {
  margin-top: 3.8%;
  margin-right: 4%;
  float: right;
  color: #fff;
}

/*Mostrar barra de navegación en móvil*/

.trig-nav {
	float: left;
	width: 20px;
	height: 50px;
	margin-left: 4%;
	display: block;
}

.trig-nav span, .trig-nav span:before, span:after {
	width: 20px;
	height: 2px;
	background-color: #fff; /*Color del trigger de la barra de navegación*/
	position: absolute;
	margin-top: 6.7%;
}

.trig-nav span:before, .trig-nav span:after {
	content: '';
}

.trig-nav span:before {
	top: -8px;
}

.trig-nav span:after {
	top: 4px;
}

/*Barra de navegación*/
.side-nav {
	position: fixed;
	float: left;
	width: 100%;
	height: 100vh;
	background-color: #4587b5;
	z-index: 2;
	display: none;
}

.side-nav.visible {
	margin-top: 80px;
	display: block;
	height: 100vh;
	width: 50%;
}

.side-nav .short-info {
	display: none;
}

.side-nav ul {
	display: block;
}

.side-nav ul li {
	padding: 10%;
	list-style-type: none;
	border-bottom: 1px solid #fff;
	margin-left: -20%;
	margin-right: 5%;
}

.side-nav ul li a.active {
	color: #fff;
}

.side-nav ul li span:nth-child(2) {
		padding-left: 3%;
	}

.side-nav ul li a {
	width: 100%;
	text-decoration: none;
	color: #b4cfe1;
	font-size: 2.5vh;
	text-align: left;
}

.side-nav .side-img {
	margin: 2em auto;
	margin-bottom: 10%;
	display: none;
}

.principal{
	padding: 40px;
	margin-top: 0;
	padding: 0;
	height: 100%;
}

.contenido {
	display: flex;
	flex-flow: row wrap;
}

.contenido .titulo {
	margin-top: 50px;
	background-color: #265a7f;
	width: 100%;
	height: 40px;
	color: #fff;
	padding: 10px;
	position: fixed;
	z-index: 2;
}

.contenido .titulo a {
	color:#fff;
	text-decoration: none;
	padding: 0 2%;
	font-weight: 600;
	font-size: 1.8vh;
}

.contenido .titulo a span {
	padding-right: 10px;
}

.widget {
	flex-basis: 300px;
	flex-grow: 10;
	height: 200px;
	margin: 15px;
	border-radius: 6px;
	background-color: #fffff8;
	z-index: 1;
	margin-top: 110px;
	margin-bottom: -80px;
}

.widget .titulo {
	margin-top: 0;
	position: relative;
	height: 20%;
	background-color: #265a7f;
	border-bottom: 1px solid #dfe4ec;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #b4cfe1;
	font-weight: 600;
}

/*Vista para tablets*/
@media screen and (min-width: 600px) {
	.header {
		float: right;
		width: 85%;
	}

	.trig-nav {
		display: none;
	}

  .header .logo {
    float: left;
    display: block;
    margin-top: 2%;
    margin-left: 5%;
  }

  .header .contacto {
    float: right;
    margin-top: 2%;
    margin-right: 5%;
  }

	.side-nav {
		width: 15%;
		display: block;
	}

	.side-nav .short-info {
		display: block;
		background-color: #00838f;
		border-bottom: 3px solid #cfd8dc;
		height: 50px;
	}

	.side-nav .nav-cont {
		margin-top: 20%;
		height: 70%;
	}

	.side-nav .side-img {
		display: block;
		width: 80%;
		height: 50%;
		margin: 10% auto;
	}

}

/*Vista para escritorio*/
@media screen and (min-width: 800px) {
	.header {
		position: fixed;
		margin-left: 15%;
    width: 85%;
		font-size: 2.5vh;
		font-weight: 400;
	}

	.trig-nav {
		display: none;
	}

  .header .logo {
    float: left;
    display: block;
    margin-top: 1%;
    margin-left: 3.5%;
  }

  .header .contacto {
    float: right;
    margin-top: 1%;
    margin-right: 3.5%;
  }

	.side-nav {
		position: fixed;
		width: 15%;
		display: block;
	}

	.side-nav .short-info {
		display: block;
		background-color: #7dabcb;
		border-bottom: 3px solid #cfd8dc;
		height: 50px;
	}

	.side-nav .nav-cont {
		margin-top: 20%;
		height: 70%;
	}

	.side-nav ul li a {
			display: inline-block;
			text-align: left;
		}

	.side-nav ul li span:nth-child(2) {
			display: inline-block;
			padding-left: 10px;
			text-align: left;
		}

	.side-nav .side-img {
		display: block;
		width: 80%;
		height: 50%;
		margin: 10% auto;
	}

	.principal {
		margin-left: 15%;
	}

	.contenido {
		padding-top: 50px;
	}

	.contenido .titulo {
		height: 45px;
		margin-top: 0;
		margin-bottom: 50px;
	}

	.contenido .titulo a {
		font-size: 2.5vh;
	}

	.widget {
		margin-top: 60px;
		margin-bottom: -39px;
	}

	.widget .titulo {
		margin-bottom: 0;
	}
}
