{% extends 'salon/dashProf.html' %}
{% block title %}Shaula: {{user.escuela.nombre}}{% endblock %}
{% block User %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block active3 %}active{% endblock %}

{% block body %}
<div class="contenido">
  <div class="titulo">
      <a href="{% url 'profesor:secciones' seccion.curso.id %}">{{ seccion.curso.nombre }}</a>
      <button class="btn btn-secondary btn-sm mb-1" data-toggle="modal" data-target="#actividad">
          Agregar Actividad
      </button>
  </div>
  <div class="widget-tabla">
    <div class="titulo">
      {{ seccion.nombre }}
    </div>
    <div class="#">
      <table class="#">
        <thead>
          <tr>
            <th>Alumno</th>
            {% for actividad in seccion.actividad_set.all|dictsort:"id" %}
            <th>
              <h3>{{ actividad.titulo }}</h3>
              <h3>{{ actividad.categoria }}</h3>
              <h3>{{ actividad.fecha }}</h3>
              <h3>{{ actividad.puntaje }}</h3>

            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for sec_alum in seccion.seccionesalumno_set.all %}
          <tr>
            <td>{{ sec_alum.estudiante.user.username }}</td>
            {% for calificacion in sec_alum.calificacion_set.all|dictsort:"id" %}
            <td>
              <a href="{% url 'profesor:calificar' calificacion.id %}">{{ calificacion.puntos }}</a>
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include "salon/actividad_form.html" %}
{% endblock %}
