{% extends 'salon/dash.html' %}
{% block title %}Shaula: {{user.escuela.nombre}}{% endblock %}
{% block User %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block opcion1 %}Grupos{% endblock %}
{% block active %}active{% endblock %}

{% block body %}
<div class="contenido">
  <div class="titulo">
      <a href="#"><span><i class="fa fa-plus"></i></span>Asignar a grupo</a>
  </div>
  {% for estudiante in estudiantes %}
  <div class="widget">
    <div class="titulo">
      <a href="#">{{ estudiante.username }}</a>

    </div>
    <div class="detalles">
      {{ estudiante.grupo }}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
