{% extends 'salon/dash.html' %}
{% block title %}Shaula: {{user.escuela.nombre}}{% endblock %}
{% block User %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block opcion1 %}Grupos{% endblock %}
{% block active %}active{% endblock %}

{% block body %}
<div class="contenido">
  <div class="titulo">
      <a href="{% url 'profesor-signup' %}"><span><i class="fa fa-plus"></i></span>Agregar Profesor</a>
  </div>
  {% for profesor in profesores %}
  <div class="widget">
    <div class="titulo">
      <a href="#">{{ profesor.username }}</a>
    </div>
    <div class="detalles">
      {% for curso in profesor.profesor.cursos.all %}
        <h3>{{ curso.nombre }}</h3>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
