{% extends 'salon/dash.html' %}
{% block title %}Shaula: {{user.escuela.nombre}}{% endblock %}
{% block User %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block opcion1 %}Cursos{% endblock %}
{% block active %}active{% endblock %}

{% block body %}
<div class="contenido">
  <div class="titulo">
      
  </div>
  {% for curso in cursos %}
  <div class="widget">
    <div class="titulo">
      <a href="{% url 'profesor:secciones' curso.id %}">{{ curso.nombre }}</a>
    </div>
    <div class="detalles">
      <h3>{{ curso.grupo }}</h3>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
