{% extends 'salon/dashProf.html' %}
{% block title %}Shaula: {{user.escuela.nombre}}{% endblock %}
{% block User %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block active3 %}active{% endblock %}

{% block body %}
<div class="contenido">
  <div class="titulo">
      <a href="#">{{ curso.nombre }}</a>
      <button class="btn btn-secondary btn-sm mb-1" data-toggle="modal" data-target="#seccion">
          Crear Unidad
      </button>
  </div>
  {% for seccion in curso.seccion_set.all %}
  <div class="widget">
    <div class="titulo">
      <a href="{% url 'profesor:actividades' seccion.id %}">{{ seccion.nombre }}</a>
    </div>
    <div class="detalles">
    </div>
  </div>
  {% endfor %}
  {% include "salon/seccion_form.html" %}
</div>
{% endblock %}
